.main-sidebar-wrapper{
    position: fixed;
    top: 5rem;
    display: none;
}


@media (min-width: 800px) {
    .main-sidebar-wrapper{
        display: block;
    }

    .app-dots-image{
        max-height: 2rem;
        z-index: 2;
        position: fixed;
        margin-top: 2rem;
        transition: filter 0.3s ease, transform 0.3s ease;
    }

    .app-dots-image:hover{
        filter: grayscale(50%);
        transform: scale(1.1);
    }

}
