/* HEADER STYLES */
#landing-header-container {
    display: flex;
    background-color: azure;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#ball-pic {
    width: 5%;
    max-width: 150px;
    padding: 0.5%;
}